body{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 12px;
    background-color: lightgray;
}

h1{
    font-size: 2.5em;
    color: #890B3B;
    text-decoration: underline;

}

p{
    text-align: justify;
}

ul{
    /*list-style-type: square;*/
   list-style-image: url('../imagenes/iconos/star2.png');
    padding-left: 20px;
}

.parrafo-destacado{
    color: darkblue;
    font-style: italic;
    line-height: 1.5em;
}

.box-destacado{
    background-color: white;
    border: 2px dotted red;
    padding: 5px;

}

.listas-letras{
    list-style-type: lower-alpha;
}

.texto-destacado{
    font-weight: bold;
}

table{
    border-collapse: collapse;
}

th,td{
    border: 1px solid blue;
}

th{
    background-color: lightblue;
}

#titulo-donec{
    color: red;
    font-size: 1.5em;
}

